extends layout

append head
	h1 #{site.name}

append main
	- if (items.length)
		ul.articles
			- items.forEach(function(item) {
				li
					a(href='#{item.url}', title='#{item.title}') #{item.title} 
			- })

append side
	include includes/info.jade