div.head-info
	p Put some introduction here.
	p By editing the jade file at 'blogdir/public/template/include/info.jade'.
	p
		a(href="rss.xml") RSS
	p.head-info-ft Powered by 
		a(href="https://github.com/zmmbreeze/blogin") blogin
	p Copyright &copy; 2012 #{site.author}
div.head-ft